body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    margin: 0;
    padding: 0 20%;
}
header {
    padding: 20px;
    text-align: center;
    background: #1e293b;
}
section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1e293b;
}
a {
    color: #38bdf8;
    text-decoration: none;
}


.container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50fr 50fr;
}

.header{
    grid-row: 1;
    grid-column: auto;
}

.user-image{
    align-self: center;
    justify-self: center;
}

.about-me{
    grid-row: 2;
    grid-column: 1/-1
}

.project-container{
    grid-row: 3;
    grid-column: 1/-1;
}

.project-showcase{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carousel {
    width: 90vw;
    display: flex;
    column-gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* use this property to hide the scrollbar on firefox */
    scrollbar-width: none;
 }
 /*  use this pseudo class to hide the scrollbar on chrome */
 .carousel::-webkit-scrollbar {
    display: none;
 }

.project {
    flex-basis: 50%;
    flex-shrink: 0;
    padding: 1rem;
    background: #1e293b;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.project-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.project-image:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.left,
.right {
   border: none;
   background-color: transparent;
   cursor: pointer;
   color: brown;
   font-size: 5rem;
   z-index: 100;
}
.user {
    vertical-align: middle;
    width: 190px;
    height: 190px;
    border-radius: 50%;
  }